.publisher-comp{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.controls {
  margin: 0 auto;
  display: table;
  position: absolute;
  z-index: 9;
  bottom: 0%;
  transition: all .3s;
  transition-timing-function: linear;
  opacity: 0;
}
.publisher-comp:hover .controls {
  opacity: 1;
  bottom: 10%;
}
.controls_icon {
  cursor: pointer;
  background: #fff;
  color: #5f6368;
  font-size: 18px;
  margin: 0 3px;
  padding: 8px;
  border-radius: 50%;
  transition: all .3s;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.exit-call{
  color: #d01b42;
}
.controls_icon.active {
  background: #d01b42;
  border: none;
  color: #fff;
}
.controls_icon:hover{
  opacity: .8;
}



