<div #subscriberDiv [ngClass]="'subscribe-comp'">
  <!--controls-->
  <div class="controls">
    <span class="controls_icon" (click)="startStopVideo()" [ngClass]="statusVideo ? 'icon-video' : 'icon-video-off active'"></span>
    <span class="controls_icon" (click)="muteAndUnMuteAudio()" [ngClass]="statusSound ? 'icon-microphone' : 'icon-microphone-off active'"></span>
  </div>
</div>
