<div [ngDraggable]="draggable" [ngClass]="'video_cont draggableVideo'">
  <ng-container *ngIf="visible | async">
    <div *ngIf="session">
      <app-publisher [session]="session " [ngResizable]="ngResizable" [ngClass]="'publisherApp'">
      </app-publisher>
    </div>
  </ng-container>
</div>
