.subscriberApp{
  display: block;
  margin: 0 auto;
  position: relative;
}

.subscriberApp {
  width: 90%;
  height: 200px;
  max-width: 400px;
}

.draggableVideo {
  position: absolute;
  cursor: move;
  z-index: 2;
}
.app-c-empty-inbox{
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .subscriberApp {
    width: 90%;
    height: 400px;
    max-width: 600px;
  }
}
