<div style="display: flex; flex-direction: column; height: 100vh;">
  <div class="app-c-header-main">
    <div class="app-c-header-main__title">
      <a href="#">
        <img class="app-c-header-main__logo" src="https://cdn.chattigo.com/assets/img/logo-white.svg">
      </a>
    </div>
  </div>

  <div style="overflow: hidden;padding-bottom: 100px;background-color: hsl(0, 0%, 98%);">
    <div class="app-c-empty-inbox">
      <div [ngClass]="'video_cont'">
        <div *ngIf="session">
          <app-subscriber [session]="session" [ngClass]="'subscriberApp'"></app-subscriber>
        </div>
      </div>
    </div>
  </div>
</div>
